.clients {
  margin-bottom: -15px;
  width: 100%;
  display: flex;
  min-height: 70vh;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow: hidden;
  display: flex;
  justify-content: center;

  h1 {
    color: rgb(223, 223, 223);
    text-transform: capitalize;
    font-size: 35px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

}
.clients__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: red;
  .logo{
    display: flex;
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}


@media (max-width: 1100px) {
  .clients {
    flex-direction: column;
  }

  .clients__content {
    flex-direction: column;
    width: 95%;
    justify-content: space-around;
  }
  .clients__container {
    flex-direction: column;
    margin: 2.5rem;

    h1 {
      font-size: 25px;
      margin-bottom: 0rem;
    }

  }

  .skill__img img {
    width: 720px;
    height: 410px;
    padding: 5px;
    object-fit: cover;
  }
}

@media (max-width: 735px) {
  .clients {
    flex-direction: column;
  }
 
}

@media (max-width: 335px) {
  .clients__container {
    margin: 0;
    h1 {
      font-size: 20px;
      margin-bottom: 0rem;
    }

    
  }

}
