.main {
    min-height: 100vh;
    max-width: 100%;
    // background-color: #deb8f3;
    background: #1e435c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: relative;

    &::before,&::after {
        content: '';
        position: absolute;
        left: 0;
    }
    &::before {
        clip-path: polygon(100% 33%, 0% 100%, 100% 100%);
        background:linear-gradient(45deg,rgba(216, 46, 8, 0.085),rgba(62, 7, 189, 0.126));
        width: 100%;
        height: 100%;
}
}

.main__container {
    display: flex;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.main__content {
    margin-left: 3.445rem;
}

.text {
    line-height: 55px;
    p {
        color: rgb(190, 190, 190);
        text-transform: uppercase;
        font-size: 22px;
    }

    h1 {
        color: rgb(54, 43, 85);
        text-shadow: 5px 5px 10px rgb(226, 226, 226);
        font-size: 50px;
        text-transform: uppercase;
    }

}

.icons {
display: flex;
    a {
        align-items: center;
        display: flex;
        icon {
            margin-top: 1rem;
            margin-right: 1.4rem;
            font-size: 40px;
            cursor: pointer;
    
            &:hover {
                color: rgb(158, 26, 184);
               
            }
        }
    }
    .icon {
        margin-top: 1rem;
        margin-right: 1.4rem;
        font-size: 40px;
        cursor: pointer;
        color: rgba(199, 199, 199, 0.894);

        &:hover {
            color: rgb(201, 204, 235);
            transform: scale(1.1);
            transition-duration: 1s;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }
    }
    Link {
        margin: 0px;
        padding: 0px;
    }
}

.main__img {
    clip-path: circle(45% at 50% 49%);
    cursor: pointer;

    
    img {
        background:linear-gradient(45deg,rgb(216, 46, 8),rgb(62, 7, 189));
    }
}

.buttons {

    button {
        padding: 10px 15px;
        margin-top: 2rem;
        margin-right: 1rem;
        background: rgb(28, 28, 28);
        box-shadow: inset 0px 5px 10px 0px rgba(4, 28, 209, 0.596);
        color: rgb(235, 235, 235);
        border: 1px solid rgb(179, 179, 179);
        cursor: pointer;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bolder;
    }
    button:hover {
        transform: translateY(-2px);
        box-shadow: 0px 10px 20px 2px rgba(78, 13, 230, 0.573);
      }
}

.main__container.active {
    background: red;
}



@media (max-width:1200px) 
{
    

    .text {
        white-space: nowrap;
        line-height: 30px;
        p {
            font-size: 14px;
        }
    
        h1 {
            font-size: 30px;
        }
    
    }


    .buttons button {
        padding: 8px 20px;
    }
    .icons {
        margin-right: 1rem;
        .icon {
            font-size: 25px;
        }
    }


}

@media (max-width:600px) {

    .main__content {
        margin-left: 0;
    }

    .main__container {
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .main__img img {
        width: 250px;
    }

    .text {
        h1 {
            font-size: 23px;
        }
        p {
            color: rgb(208, 208, 208);
            font-size: 11px;
        }
    }

    .icons{ 
        display: flex;
        justify-content: center;
        margin-left: 1.5rem;
    .icon {
        color: rgba(143, 57, 57, 0.633);
        
    }
}
}


