.strength {
  position: relative; 
  &::before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #13112bd0;
    backdrop-filter: blur(4px);
  }

  background-image: url("./../assets//strength1.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  padding-top: 7%;
  padding-bottom: 7%;
  gap: 0.7rem;
  .focus-details {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .focus-details {
    z-index: 2;
    // max-width: 120px;
    p {
      color: rgb(187, 187, 187);
      font-size: 0.8rem;
      margin-top: 5px;
      text-align: center;
    }
  }
  .focus-number {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 10px solid rgba(103, 125, 7, 0.87);
    box-shadow: 0px 0px 7px 3px rgba(105, 105, 105, 0.678);
    color: #ccc;
    font-size: clamp(3.5rem, 6.462vw + 1.038rem, 5.5rem);
    // line-height: clamp(2.925rem, 4.708vw + 2.042rem, 6.75rem);
    font-weight: 400;
    font-family: "Agbalumo", sans-serif;
    background-color: rgba(73, 4, 50, 0.507);
    text-align: center;
    width: 160px;
    // line-height: 70px;
    // padding-bottom: 10px;
    height: 160px;
    padding: 1rem;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      width: 120px;
      height: 120px;
    }
  }

  span {
    // background-color: red;
  }
}
