.skills {
  color: rgb(194, 194, 194);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  min-height: 90vh;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #191825,
    #2c285c,
    #191825
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #191825,
    #131e2e,
    #191825
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background: linear-gradient(60deg, #191825 0%, #2c274f 100%);

  overflow: hidden;
  .edu_course_container {
    padding-top: 8%;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h1 {
      margin-bottom: 1.5rem;
      border-bottom: 1px solid rgba(128, 128, 128, 0.335);
    }
    .course__content {
      max-height: 500px;
      overflow-y: auto;
      padding-left: 1.6rem;
      h1 {
        margin-bottom: 1.5rem;
      }
      .edu-details {
        line-height: 1.4rem;
        margin-bottom: 1rem;
        padding-right: 2rem;
        h4::before {
          content: "";
          margin-left: -1.5rem;
          margin-right: 10px;

          display: inline-block;
          width: 15px;
          height: 15px;
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border: 3px solid #4f740b;
          border-radius: 50%;

          background-color: #19182a08;
        }
        h5{ 

          a {
          color: rgb(135, 135, 135);
        }
      }
      }
    }
    .course__content2 {
padding-left: clamp(0.625rem, 1.732vw + 0.177rem, 1.563rem);
      h1 {
        margin-bottom: 1.5rem;
      }
      .edu-details {
        line-height: 1.4rem;
        margin-bottom: 1rem;
        padding-right: 2rem;
        h4::before {
          content: "";
          margin-left: -1.5rem;
          margin-right: 10px;

          display: inline-block;
          width: 15px;
          height: 15px;
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border: 3px solid #4f740b;
          border-radius: 50%;

          background-color: #19182a08;
        }
        h5{ 

          a {
          color: rgb(135, 135, 135);
        }
      }
      }
    }
    .education__content {
    }
  }
  // --------tools sectin start-----

  .toolsHead {
    padding-top: 2rem;
    width: max-content;
    text-align: start;
    justify-content: flex-start;
    h1 {
      color: rgb(189, 189, 189);
      text-transform: capitalize;
      font-size: 35px;
      margin-bottom: 5px;
    }
    h2 {
      margin-top: 0px;
    }
  }
}

.skills__container {
  padding-top: 2rem;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .skillbox {
    margin: 30px 10px 10px 10px;
    text-align: center;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    background: #261946be;
    box-shadow: 2px 2px 10px 2px rgba(2, 84, 236, 0.213);
    border-radius: 2px;
    width: 110px;
    height: 110px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 2px;
    margin: 15px 10px 10px 10px;
    border: 1px solid rgba(106, 87, 150, 0.178);
    img {
      object-fit: cover;
      width: 65px;
     height: 50px;
    }
  }
  .skillbox:hover {
    background: #461faabe;
    border: 1px solid rgba(255, 255, 255, 0.308);
    transition-duration: 0.3s;
  }
}

@media (max-width: 1100px) {
}
@media (max-width: 1000px) {
  .edu_course_container {
    padding-top: 6%;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    .course__content {
      margin-bottom: 1.5rem;
      .edu-details {
        margin-bottom: 0rem;

      }
    }
    .education__content {
    }
  }
}

@media (max-width: 735px) {
  .edu_course_container {
  }
  .skills {
    flex-direction: column;
    .toolsHead {
      width: 100%;
    }
  }
}

@media (max-width: 335px) {
  .clients {
    padding-bottom: 0.5rem;
  }
}
